@font-face {
    font-family: "Montserrat Thin";
    src: url("assets/fonts/montserrat/Montserrat-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: "Montserrat Thin Italic";
    src: url("assets/fonts/montserrat/Montserrat-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat Extra Light";
    src: url("assets/fonts/montserrat/Montserrat-ExtraLight.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Montserrat Extra Light Italic";
    src: url("assets/fonts/montserrat/Montserrat-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat Light";
    src: url("assets/fonts/montserrat/Montserrat-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat Light Italic";
    src: url("assets/fonts/montserrat/Montserrat-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("assets/fonts/montserrat/Montserrat-RegularItalic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat Medium";
    src: url("assets/fonts/montserrat/Montserrat-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat Medium Italic";
    src: url("assets/fonts/montserrat/Montserrat-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat Semi Bold";
    src: url("assets/fonts/montserrat/Montserrat-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat Semi Bold Italic";
    src: url("assets/fonts/montserrat/Montserrat-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("assets/fonts/montserrat/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat Bold Italic";
    src: url("assets/fonts/montserrat/Montserrat-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat Extra Bold";
    src: url("assets/fonts/montserrat/Montserrat-ExtraBold.ttf");
    font-weight: 800;
}

@font-face {
    font-family: "Montserrat Extra Bold Italic";
    src: url("assets/fonts/montserrat/Montserrat-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "Montserrat Black";
    src: url("assets/fonts/montserrat/Montserrat-Black.ttf");
    font-weight: 900;
}

@font-face {
    font-family: "Montserrat Black Italic";
    src: url("assets/fonts/montserrat/Montserrat-BlackItalic.ttf");
    font-weight: 900;
    font-style: italic;
}