html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    background-repeat: repeat;
    background-image: url("../../../assets/images/wood_texture_400x317.png");
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;
}

p {
    color: rgba(255, 255, 255, 1);
}