html {
    position: absolute;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(10, 182, 76);
}

button {
    text-decoration: none;
}



.page-header-container {
    height: 60px;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 182, 76);
}

.page-header {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(10, 182, 76);
    margin: 0px 15px;
}

.page-header-logo {
    width: 64px;
    height: 48px;
}

.menu-button {
    width: 100px;
    height: 45px;
    color: rgb(240, 240, 240);
    font-size: 14px;
    font-weight: bold;
    background-color: rgb(9, 160, 67);
    border: 0px;
}

.menu-button:hover {
    background-color: rgb(14, 136, 61);
    border: 0px;
    cursor: pointer;
}

.center-button {
    margin-left: 5px;

}

.menu-button:active {
    background-color: rgb(16, 94, 46);
}



#contact-button {
    margin-left: 5px;
}